{% extends "base.html" %}

{% block title %} Premuim Course
    
{% endblock title %}
{% block courseactive %}active
    
{% endblock courseactive %}

{% block body %}

<div class="container my-2">
<h1>Premium Course</h1>
<hr>
<div class="row row-cols-1 row-cols-md-3">
{% for post in allPost %}
  <div class="col mb-4">
    <div class="card">
      <img src="{{post.img.url}}" width = 348 height = 250 alt="{{post.title}}">
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content | safe | truncatechars:100}}</p>
        <h6 class="card-price text-center d-inline ">Rs.{{post.price}}<span class="period"></span></h6>
        <a href="/course/{{post.slug}}" class="btn btn-primary">Buy Now</a>

      </div>
    </div>
  </div>
  {% endfor %} 
</div>
</div>

    
{% endblock body %}