{% extends "base.html" %}

{% block title %}
Contact Us    
{% endblock title %}
{% block contactactive %} active
    
{% endblock contactactive %}
{% block body %}

<div class="container">

<h3 class="text-center">Contact us</h3><br />

<div class="row">
  <div class="col-md-8">
      <form action="/contact/" method="post">
        {% csrf_token %}
        <input class="form-control" name="name" placeholder="Name..." /><br />
        <input class="form-control" name="phone" placeholder="Phone..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>

  <div class="col-md-4">
    <b>Customer service:</b> <br />
    {% for post in allPostc %}
    Phone:{{post.phone}}<br />
    E-mail: <a href="{{post.email}}">{{post.email}}</a><br />
    <br /><br />
    {% endfor %}


    <b>Headquarter:</b><br />
    {% for post in Headpost %}
    {{post.company_name}}, <br />
    {{post.Street}}<br />
    {{post.pincode_city_country}}<br />
    Phone: {{post.phone}}<br />
    <a href="{{post.email}}">{{post.email}}</a><br />
    {% endfor %}

    <br /><br />
    <b>India Office:</b><br />
    {% for post in allPosti %}
    {{post.company_name}}, <br />
    {{post.Street}}<br />
    {{post.pincode_city_country}}<br />
    Phone: {{post.phone}}<br />
    <a href="{{post.email}}">{{post.email}}</a><br />
    {% endfor %}

  </div>
</div>
</div>

{% endblock body %}